* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: radial-gradient(circle, rgb(61, 122, 255), rgb(15, 51, 99));
  font-family: Arial, Helvetica, sans-serif;
}

header h1 {
  padding: 20px;
  text-align: center;
}

main .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "imagen texto texto" "desarrollador comunidad usuarios";
}
main .imagen {
  grid-area: imagen;
  display: block;
  height: 500px;
  width: 700px;
}
main .texto {
  grid-area: texto;
  transform: translate(0px, 100px);
}
main .desarrollador {
  display: flex;
  grid-area: desarrollador;
}
main .desarrollador .imagen-desarrollador {
  grid-area: auto;
  display: block;
  margin: 0 auto;
  transform: translate(500px, -100px);
}
main .desarrollador .texto-desarrollador {
  grid-area: auto;
  display: block;
  transform: translate(510px, -100px);
  align-items: center;
}
main .imagen-desarrollador:hover {
  transform: rotate(360);
}
main .comunidad {
  display: block;
  grid-area: comunidad;
}
main .comunidad .imagen-comunidad {
  grid-area: auto;
  display: block;
  height: 200px;
  width: 200px;
  transform: translate(-10px, 50px);
}
main .comunidad .texto-comunidad {
  grid-area: auto;
  display: block;
  align-items: center;
}
main .usuarios {
  display: grid;
  grid-area: auto;
}
main .usuarios .imagen-usuarios {
  grid-area: auto;
  display: flex;
  width: 200px;
  height: 200px;
  transform: translate(-100px, 220px);
}
main .usuarios .texto-usuarios {
  grid-area: auto;
  display: block;
  transform: translate(110px, 150px);
}
main .tamano_formulario {
  width: 500px;
  margin: 10px auto;
  border: rgb(27, 30, 238) 3px solid;
  padding: 20px;
}

.contenedor {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.contenedor div {
  border: rgb(22, 52, 224) 2px solid;
  padding: 10px;
  margin: 10px;
  text-align: center;
}

.contenedor div img {
  max-width: 100%;
  height: auto;
}

.conteiner {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  gap: 10px;
}
.conteiner .videojuego img {
  width: 250px;
  opacity: 0.5;
  border: double gray 2px;
}
.conteiner .videojuego img:hover {
  opacity: 1;
  border: double gray;
  border-radius: 10px;
}

footer {
  background-color: #1e61c5;
  padding: 1.2rem;
  display: flex;
  justify-content: space-between;
  grid-area: footer;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .contenedor {
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 480px) {
  .contenedor {
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width: 768px) {
  .conteiner {
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 480px) {
  .conteiner {
    grid-template-rows: 3fr;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media screen and (max-width: 768px) {
  .container {
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
}

/*# sourceMappingURL=style.css.map */
